body {
  --primary-color: #404040;
  --border-color: #cfcfcf;
  --background-color: #f1f4f6;
  --accent-color: purple; /* --accent-color */
  --secondary-text: rgb(145, 121, 145);
  --border-width: 1px;
  --border-radius: 8px;
  --min-width: 360px;
  --logo-width: 685px;

  font-family: Courier, monospace;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  min-width: var(--min-width);
  display: flex;
  flex-direction: column;
}

* {
  white-space: nowrap;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8px 0;
  background-color: white;
}

header > svg {
  transform: scale(0.4);
  margin: -24px 0 -22px;
  min-width: var(--logo-width);
}

header h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

header h2 {
  font-size: 0.75em;
  font-weight: normal;
}

/* Main */

main {
  padding: 8px 0;
  background-color: white;
  flex-grow: 1;
}

main form {
  margin: 0 auto;
  min-width: var(--min-width);
  max-width: 600px;
  padding: 0 8px;
}

.field-name {
  padding: 8px 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: var(--border-width) solid var(--border-color);
  border-bottom: none;
  text-align: left;
}

.field-value {
  padding: 8px 16px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  border-top: none;
}

.form-group {
  padding: 8px 0;
}

.dual {
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
  color: var(--secondary-text);
  transition: color 0.2s ease-in-out;
}

label > div {
  background-color: var(--background-color);
  user-select: none;
}

.inline {
  flex-direction: row;
  align-items: center;
}

label:hover,
label:focus-within {
  color: inherit;
}

input {
  color: inherit;
  text-align: right;
  outline: none;
  background: transparent;
  font-weight: bold;
}

input[type="checkbox"] {
  outline: auto;
}

.inline > div {
  border: var(--border-width) solid var(--border-color);
  border-right: none;
  padding: 8px 16px;
}

.inline.left > div {
  border-left: none;
  text-align: left;
}

.inline.right > div {
  text-align: right;
}

.inline > input {
  padding: 8px 4px;
  border: var(--border-width) solid var(--border-color);
  border-left: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.inline.left > .checkbox-wrapper {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-right: none;
}

.checkbox-wrapper {
  padding: 8px 16px;
}

.right,
.left,
.right > div,
.left > div {
  flex-grow: 1;
}

.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  border: calc(2 * var(--border-width)) solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--background-color);
}

button,
.button-like {
  padding: 4px 24px;
  border-radius: var(--border-radius);
  outline: none;
}

button:hover,
button:focus {
  background-color: var(--background-color);
  color: var(--accent-color);
}

.notification {
  background-color: #32af02;
  color: white;
  border: calc(2 * var(--border-width)) solid #32af02;
  font-weight: bold;
}

/* Footer */

footer {
  text-align: center;
  background-color: var(--background-color);
  padding: 32px 0;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  padding: 2px 8px 2px 8px;
  border-radius: calc(var(--border-radius) / 2);
  border: var(--border-width) solid var(--primary-color);
  cursor: pointer;
  outline: none;
}

a:focus,
a:hover {
  background: var(--background-color);
  color: var(--primary-color);
}

a > svg {
  display: inline-block;
  height: 0.7em;
}
