/* Reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
input,
label,
ul,
li,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

body {
  text-align: center;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 16px;
  background-color: #2b221c;
  position: relative;
  min-height: 100vh;
}

/* Header styles */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
  padding: 12px;
  border-radius: 0 0 0 6px;
  z-index: 1;
}

header img {
  width: 2.5rem;
  transform: rotate(-15deg);
  transition: transform 1s ease-in-out;
}

header:hover img {
  transform: rotate(-20deg);
  transition: transform 0.4s;
}

header .generated {
  transform: rotate(0);
  transform: rotateX(50deg);
}

header > * {
  padding-right: 4px;
}

header > :last-child {
  padding-right: 0;
}

header h1,
header h2 {
  color: #2b221c;
  text-align: left;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.8em;
  font-weight: normal;
}

/* Main styles */
main {
  margin: 0 auto;
  max-width: 500px;
  padding: 24px 16px 48px;
}

.form-group {
  padding: 0 0 16px 0;
}

label {
  display: block;
  color: grey;
  user-select: none;
  text-align: left;
}

label:focus-within {
  color: #f39e1e;
  transition: color 0.4s ease-in-out;
}

input,
button {
  font-size: 1rem;
  padding: 6px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0 6px 0 0;
  transition: border-radius 0.7s ease-in-out;
}

input {
  text-align: right;
  width: 100%;
  color: white;
  font-family: monospace, "Courier New", Courier;
  border-top: 1px solid #f39e1e;
}

button {
  color: wheat;
  cursor: pointer;
  border: 1px solid #f39e1e;
  width: 300px;
  max-width: 100%;
  user-select: none;
}

input:focus,
button:focus,
button:hover {
  background-color: #f39e1e;
  color: white;
  border-radius: 0 0 0 6px;
}

input:focus::selection {
  background-color: #2b221c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  max-width: 3rem;
}

section#options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 380px) {
  section#options {
    flex-direction: column;
  }
}

section#options input {
  width: initial;
  margin-left: 8px;
}

section#options label {
  display: flex;
  align-items: center;
}

input#password {
  text-align: center;
  font-family: Helvetica, sans-serif, Arial;
  background-color: transparent;
  border: none;
  color: wheat;
  cursor: pointer;
  position: relative;
}

#notification {
  background-color: #17b417;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 0.8rem;
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s linear 1s, transform 1s ease-out 1s;
}

/* Common styles */
.hidden {
  display: none !important;
}

.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: opacity 0.5s linear !important;
}

/* Footer styles */
footer {
  position: absolute;
  bottom: 0;
  background: #000000;
  width: 100%;
  padding: 8px;
  color: #ebe4c0;
  border-radius: 0 6px 0 0;
}

footer a {
  position: relative;
}

footer a::after {
  content: "→";
  opacity: 0;
  position: absolute;
  left: calc(100% - 0.3em);
}

footer a:hover::after {
  opacity: 1;
  left: calc(100% + 0.3em);
  transition: all 0.2s ease-out;
}
