/* Reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
input,
label,
ul,
li,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  text-align: center;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 16px;
  background-color: #2b221c;
  position: relative;
  min-height: 100vh;
}

/* Header styles */
header {
  background: wheat;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 6px;
  position: relative;
  z-index: 1;
}

header img {
  width: 2.5rem;
  transform: rotate(-15deg);
  transition: transform 1s ease-in-out;
}

header:hover img {
  width: 2.5rem;
  transform: rotate(-20deg);
  transition: transform 0.4s;
}

header .generated {
  transform: rotate(0);
  transform: rotateX(50deg);
}

header > * {
  padding-right: 4px;
}

header > :last-child {
  padding-right: 0;
}

header h1,
header h2 {
  color: #2b221c;
  text-align: left;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.8em;
  font-weight: normal;
}

/* Main styles */
main {
  margin: 0 auto;
  max-width: 500px;
  padding: 24px 16px 48px;
}

.form-group {
  padding: 0 0 16px 0;
}

label {
  display: block;
  color: grey;
  user-select: none;
  text-align: left;
}

label:focus-within {
  color: #f39e1e;
  transition: color 0.4s ease-in-out;
}

input {
  text-align: right;
  width: 100%;
  padding: 6px;
  color: white;
  background-color: transparent;
  font-family: monospace, 'Courier New', Courier;
  font-size: 1rem;
  outline: none;
  border: none;
  border-top: 1px solid #f39e1e;
  border-radius: 0 6px 0 0;
  transition: border-radius 0.7s ease-in-out;
}

input:focus {
  font-weight: bold;
  background-color: #f39e1e;
  border-radius: 0 0 0 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  width: initial;
  margin: 0 8px 0 0;
}

section#options {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 380px) {
  section#options {
    flex-direction: column;
  }
}

section#options .form-group {
  width: 100%;
}

label#special {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 0 6px 6px;
}

button {
  padding: 6px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: wheat;
  cursor: pointer;
  outline: none;
}

input#password {
  text-align: center;
  padding: 6px;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: wheat;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2b221c;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.9;
}

#background.transparent {
  opacity: 0;
  z-index: -1;
}

#notification {
  background-color: #17b417;
  color: white;
  border-radius: 6px;
  padding: 6px;
  font-size: 0.8rem;
  margin: 8px 0;
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s linear 1s, transform 1s ease-out 1s;
}

/* Common styles */
.hide-text {
  color: transparent;
}

.hidden {
  display: none !important;
}

.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: opacity 0.5s linear !important;
}

/* Footer styles */
footer {
  position: absolute;
  bottom: 0;
  background: #000000;
  width: 100%;
  padding: 8px;
  color: #ebe4c0;
  border-radius: 0 6px 0 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  font-size: 0.75rem;
  padding-right: 4px;
  border-right: 1px solid #f39e1e;
}

footer ul li:last-child {
  padding-right: 0;
  border-right: none;
}

/* Info page styles */
h3 {
  font-size: 1rem;
  margin: 0 0 12px 0;
  color: #f39e1e;
  text-align: right;
  border-bottom: 1px solid #f39e1e;
  border-radius: 0 0 0 6px;
  transition: border-radius 0.7s ease-in-out;
}

section:hover h3 {
  border-radius: 0;
}

p {
  color: #ebe4c0;
  text-align: left;
  padding: 0 0 12px 0;
}

p a {
  text-decoration: underline;
}

main *::selection {
  background-color: #f39e1e;
  color: white;
}

header,
footer {
  user-select: none;
}
